<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="icon" type="image/gif/png/jpg" href="/assets/mgold.jpg">
  <title>Mgold</title>
</head>
<body>
   
  <div class="container">
  
      <% if(locals.message){ %>
        <div style= 'color:green' class="alert alert-success" role="alert">
          <%=message.success%>
        </div>
    <% } %>
    <p class="intro">Welcome To </p>
  <button><a href="/client" >Add Caterer</a></button>
  </div>
</body>
</html>