<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" type="image/gif/png/jpg" href="/assets/mgold.jpg">
  <title>Mgold</title>
</head>
<body>
  <div style="  justify-content: center; display: flex; flex-direction: column;  align-self: center;padding: 2em;">
      
      <% if(locals.message){ %>
        <div style= 'color:green; text-align: center'  role="alert">
          <%=message.error%>
        </div>
    <% } %>
  <form action='/add_caterer' method="POST" >
    <p style=" text-align: center;">Register Caterer</p>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter App Pin</label>
        <input 
        type="text" 
        class="form-control"
         id="exampleInputEmail1" 
         name= "pin"
         aria-describedby="emailHelp" 
         placeholder="Enter App Pin">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Full Name</label>
      <input 
      type="text" 
      class="form-control"
       id="exampleInputEmail1" 
       name= "fullName"
       aria-describedby="emailHelp" 
       placeholder="Full name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Phone Number</label>
      <input 
      type="text" 
      class="form-control" 
      name="phone"
      id="exampleInputEmail1" 
      aria-describedby="emailHelp" 
      placeholder="phone number">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email Address</label>
      <input 
      type="text" 
      class="form-control" 
      name="email"
      id="exampleInputEmail1" 
      aria-describedby="emailHelp" 
      placeholder="Enter email (if any)">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Company Name</label>
      <input 
      type="text" 
      class="form-control" 
      name="company"
      id="exampleInputEmail1" 
      aria-describedby="emailHelp" 
      placeholder="company name (if any)">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Location</label>
      <input 
      type="text" 
      class="form-control" 
      id="exampleInputEmail1" 
      name="location"
      aria-describedby="emailHelp" 
      placeholder="location">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">No Of Staff</label>
      <input 
      type="text" 
      class="form-control" 
      name="staffNo"
      id="exampleInputEmail1" 
      aria-describedby="emailHelp" 
      placeholder="staff strength">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Brief Experience Info</label>
      <textarea 
      class="form-control" 
      name="experience"
      id="exampleFormControlTextarea1" 
      rows="3"></textarea>
    </div>
   
    <button style="margin-left: 40%;" type="submit" class="btn btn-primary" >Submit</button>
  </form>
  </div>
</body>
</html>