body {
  background-image: url("/assets/mgold.jpg");
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  /* margin: 2em; */
}

button {
  height: 3em;
  align-self: center;
  margin-top: 15rem;
  justify-content: center;
  background-color: yellow;
  border-radius: 7px;
  border: none;
}

button:hover {
  background-color: aliceblue;
  color: yellow;
}

a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.intro {
  color: white;
  align-self: center;
  font-size: xx-large;
}
